doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Your Sign Up is Complete
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="theme-color" content="#ffffff")
    link(rel="stylesheet" href="css/style.min.css")
    link(rel="stylesheet" href="css/thank_you.min.css")
    script.
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start':
                  new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-W6TFQS9');
    script.
      (function (w, d, t, r, u) {
        var f, n, i;
        w[u] = w[u] || [], f = function () {
          var o =

                  {ti: "56002735"}
          ;o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad")
        }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function () {
          var s = this.readyState;
          s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null)
        }
                , i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i)
      })(window, document, "script", "//bat.bing.com/bat.js", "uetq");

    script.
      (function(){var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call","trackForm","trackClick"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)})("woopra");woopra.config({domain: 'dsp.epom.com'});woopra.track();
    script.
      (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () {
          (h.hj.q = h.hj.q || []).push(arguments)
        };
        h._hjSettings = {hjid: 968009, hjsv: 6};
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  body
    header.header.layout
      a(href="https://dsp.epom.com/")
        img.header__logo(src="img/global/epom-logo.svg" alt="EPOM logo")
    main.main-content.layout
      section.page-section.page-section--illustration
        svg.illustration-letter(width="238" height="166" viewBox="0 0 238 166" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M62 81.427c0-4.125 1.908-8.018 5.169-10.545l57.685-44.706a10.381 10.381 0 0112.719 0l57.685 44.706a13.341 13.341 0 015.169 10.545v72.191c0 5.734-4.648 10.382-10.382 10.382H72.382C66.648 164 62 159.352 62 153.618v-72.19z" fill="#F1EFFF" stroke="#4650D4" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round")
          rect(x="84.012" y="39.801" width="94.399" height="96.129" rx="12.092" fill="#fff" stroke="#4650D4" stroke-width="2.5")
          path(d="M189.53 163.141H72.903c-5.537 0-10.02-4.499-10-10.036l.258-71.51a20.4 20.4 0 01.396-3.927l67.659 48.271 67.674-49.048c.259 1.553.392 3.124.397 4.698l.243 71.518c.019 5.536-4.464 10.034-10 10.034z" fill="#fff")
          path(d="M63.5 76.5l67.716 49.434 67.483-50.18" stroke="#4650D4" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round")
          path(d="M122.943 117.624l-56.615 43.782H194.373l-54.969-43.674a13.341 13.341 0 00-16.461-.108z" fill="#fff")
          path(d="M65.46 161.406l57.66-44.002a13.34 13.34 0 0116.188 0l57.659 44.002" stroke="#4650D4" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round")
          circle(cx="131.217" cy="80.08" r="22.494" fill="#00CECE")
          path(d="M141.596 74.89L129.7 87.004l-7.138-7.267" stroke="#fff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round")
          circle(cx="206" cy="37" r="3" fill="#330081")
          path(d="M192.158 2.08a1.185 1.185 0 012.113 0l2.398 4.722c.102.202.26.37.455.485l4.571 2.692a1.185 1.185 0 010 2.042l-4.571 2.692a1.18 1.18 0 00-.455.485l-2.398 4.722a1.185 1.185 0 01-2.113 0l-2.398-4.722a1.194 1.194 0 00-.455-.485l-4.572-2.692a1.185 1.185 0 010-2.042l4.572-2.692c.194-.115.352-.283.455-.485l2.398-4.722z" fill="#905AE2")
          circle(r="3" transform="matrix(1 0 0 -1 3 154)" fill="#330081")
          path(d="M23.158 134.92a1.185 1.185 0 002.113 0l2.398-4.722c.102-.202.26-.37.455-.485l4.571-2.692a1.185 1.185 0 000-2.042l-4.571-2.692a1.185 1.185 0 01-.455-.485l-2.398-4.722a1.185 1.185 0 00-2.113 0l-2.398 4.722c-.103.202-.26.37-.455.485l-4.572 2.692a1.185 1.185 0 000 2.042l4.572 2.692c.194.115.352.283.455.485l2.398 4.722z" fill="#905AE2")
          circle(r="4.75" transform="matrix(1 0 0 -1 38 160)" stroke="#D6CFFF" stroke-width="2.5")
          circle(cx="225" cy="11" r="4.75" stroke="#D6CFFF" stroke-width="2.5")
      section.page-section.page-section--gratitude
        h2.gratitude-title Thank you!
        p.gratitude-description.gratitude-description--indent You're on the halfway up to better advertising. <span class="line-break">We've got your details and our manager will be in touch soon.</span>
        p.gratitude-description Check out our
          |
          |
          a.gratitude-link(href="https://bit.ly/3wAdFBA") DSP setup guide
          |
          | or
          |
          a.gratitude-link(href="https://bit.ly/3wHoNNb") DSP-related articles
    footer.footer.footer--transparent.layout
      .footer-wrapper
        .footer-copyright
          | 2011-<span id="copyright-year"></span> Epom, &copy; All Rights Reserved

        .footer-socials
          a(href="https://www.facebook.com/epomcom/" target="_blank").socials-icon.socials-icon--facebook
          a(href="https://www.linkedin.com/company/epom" target="_blank").socials-icon.socials-icon--linkedin
          a(href="https://www.youtube.com/channel/UCbGVIFBLS0JKdqeFJytR8cA" target="_blank").socials-icon.socials-icon--youtube
          a(href="https://twitter.com/epomadserver?lang=en" target="_blank").socials-icon.socials-icon--twitter
    script(src='js/main.min.js')
